body {
  font-family: Arial, sans-serif;
}

:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

.container-fluid {
  width: 95% !important;
}

/* dashboard page */
.dropdown-item:hover {
  background-color: #c1efde !important;
}

#wrapper {
  overflow-x: hidden;
  /* background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  ); */
}
.stat-card {
  border-radius: 20px;
  transition: 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.icon-box {
  font-size: 2.3rem;
  color: var(--main-text-color);
  background: var(--second-bg-color);
  padding: 15px;
  border-radius: 50%;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -17rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: #212529;
}

#sidebar-wrapper .list-group {
  width: 17rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17rem;
  }
}

/* Add New, edit and delete Button */
.add-new-btn {
  background-color: #009d63;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
}

/* 3 Dot button */
.three-dot-btn {
  padding: 8px 10px;
  border-radius: 6px;
}

.three-dot-btn:hover {
  background: #f3f3f3;
}

/* Dropdown styling */
.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdown-item:hover {
  background-color: #f4f4f4;
}

/* Pagination active color */
.pagination .page-item.active .page-link {
  background-color: #009d63;
  border-color: #009d63;
  color: white;
}

/* Pagination hover color */
.pagination .page-link:hover {
  background-color: #c1efde;
  border-color: #c1efde;
  color: black;
}

/* Pagination default text color */
.pagination .page-link {
  color: #009d63;
}

/* page products */
.product-image-container img {
  width: 15rem;
  height: 15rem;
}

/* Individual Product Card Styling */
.product-card {
  border: #ffff;
  background-color: #f0f8f3;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.product-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* or center */
  margin-bottom: 40px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
/* Product Image Container Styling */
.product-image-container {
  background-color: #f0f8f3;
  border-radius: 8px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.product-image-container img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

/* Product Info Styling */
.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #0a0a0a; /* A green color for the price */
  margin-bottom: 10px;
}
.product-stock {
  font-size: 16px;
  color: #696969;
  margin-bottom: 10px;
}
/* Modal Styling */
.modal-content {
  border-radius: 18px;
  padding: 10px;
}

.modal-body img {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}

.modal-title {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.btn-close {
  outline: none;
}

@media (max-width: 768px) {
  .product-card {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .product-card {
    width: 100%;
  }
}
